* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    font-smooth: antialised;
    line-height: 1.6;
    overflow-x: hidden;
    color: white;
}

body {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    background: #FFFFFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFFFFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#signup {
    height: 150vh;
    display: block;
    text-align: center;
    margin: 0 auto;
}